/**********Classes spécifiques index *****************/

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.hebergements, .populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/**** Hebergements ****/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
 }

.hebergements-cards img {
    width: 100%;
    height: 115px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-title {
    margin-bottom: 10px;
}
.hebergements-cards .card-rating {
    margin-top: 5px;
}
/*** Populaires ***/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0px 0px 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************************** Activités ********************************/

.activites {
    margin-top: 70px;
    box-sizing: border-box;
    padding: 10px;
}

.activites-cartes {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
}

.activites-cartes .card {
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.activites-cartes img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 5px;
}

.activites-cartes .card-content {
    padding: 20px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements {
        border-radius: 0px;
        background-color: transparent;
        padding: 20px;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .populaires {
        border-radius: 0px;
    }
}